@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* Hero Start */

.hero {
    background-image: url('Media/Images/BackgroundImage.jpg');
    /* background-size: cover; */
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 774px;

}

@media only screen and (max-width: 777px) {
    .hero {
        height: 100vh;
    }
}

.hero-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    color: white;
    text-align: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.hero-content p {
    font-size: 18px;
}

.hero button {
    margin: 0px auto;
}

/* Hero End */

/* Navbar */

.navbar {
    color: white;

}

.navbar .navbar-brand {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

.navbar .nav-item .nav-link {
    color: lightgray;
    color: #f2f2f2;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar .nav-item .nav-link:hover {
    color: white;
}

@media (max-width: 991.98px) {
    .navbar-toggler {
        position: absolute;
        right: 7%;
        top: 10px;

    }
}

/* Navbar end */

/* About Us */

#about_us {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.about-para1 {
    font-weight: 400;
    font-size: 18px;
}


/* About Us End */

/* Classes Section */

.classes {
    margin-top: 50px;
    margin-bottom: 50px;
}

.classes h1 {
    text-align: center;
    padding: 15px;
}

.classes .card {
    margin-bottom: 30px;
}

/* Classes Section End */

/* Membership Section */

.membership-section h1 {
    font-size: 36px;
    padding: 10px;
}

/* Membership Section End */

/* Facilities Section */

.feature-item {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.feature-item:hover {
    transform: translateY(-5px);
}

#facilities h1 {
    font-size: 36px;
    padding: 10px;
    text-align: center;

}

/* Facilities Section End */

/* FAQs Section */

.accordion-header {
    font-weight: 700;
}

.accordion h1 {
    text-align: center;
    padding: 15px;
}


/* FAQs Section End */

/* Membership */

#registration-form {
    width: 70vw;
    margin-top: 60px;
    margin-bottom: 100px;
    /* border: 1.6px solid gray; */
}

@media only screen and (max-width: 850px) {
    #registration-form {
        width: 90vw;
    }
}

/* Membership End */

/* Footer */

footer {
    /* background-color: rgb(62, 62, 82); */
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

/* Footer End */

@media only screen and (max-width: 480px) {
    .accordion h1, #facilities h1, .membership-section h1, .classes h1, #about_us h1, #registration-form h1, #contact_us h1 {
        font-size: 25px;
    }
}